CONFIG_ESPTOOLPY_FLASHMODE_DIO=y
CONFIG_ESP_CONSOLE_UART_DEFAULT=y
CONFIG_COMPILER_OPTIMIZATION_SIZE=y
CONFIG_ESP_MAIN_TASK_STACK_SIZE=8192
CONFIG_ETH_USE_SPI_ETHERNET=y
CONFIG_ETH_SPI_ETHERNET_W5500=y
# CONFIG_ETH_USE_ESP32_EMAC is not set
CONFIG_AJAX_WIFI_SSID="SLOBIKI"
CONFIG_AJAX_WIFI_PASSWORD="440123824"
CONFIG_AJAX_MQTT_URI="mqtt://192.168.0.249:1883"
CONFIG_AJAX_MQTT_USERNAME=""
CONFIG_AJAX_MQTT_PASSWORD=""
CONFIG_AJAX_HA_DISCOVERY_PREFIX="homeassistant"
CONFIG_AJAX_DEVICE_NAME="AJAX KLIM"
CONFIG_AJAX_NODE_ID="ajax_klim_esp32"
CONFIG_AJAX_ENABLE_UART=y
CONFIG_AJAX_UART_BAUD=115200
